header {
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

article {
    display: inline-block;
    border: 1px solid black;
    border-spacing: 15px;
    width: 30%;
    padding: 10px;
}

section.company .name {
    font-weight: bold;
    font-size: 1.5em;
}

section.company .ticker {
    font-size: 0.8em;
}

section img {
    float: right;
    padding-right: 10px;
    margin-top: -42px;
}

aside img {
    margin-top: 5px;
}
aside a {
    width: 78%;
    margin-top: 5px;
    font-size: 0.8em;
}

footer {
    margin-top: 10px;
}
